# Игнорировать кэш и временные файлы Python
__pycache__/
*.py[cod]

# Логи
*.log

# Файлы виртуального окружения
venv/
env/

# SQLite база
*.db

# Дамп базы
*.sql

# Настройки IDE
.vscode/
.idea/

# Файл с переменными окружения (например, с паролями)
.env